# Arquivos e diretórios específicos do Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Diretório específico do IntelliJ IDEA
.idea/

# Diretório específico do Eclipse
.classpath
.project
.settings/

# Diretório específico do Spring
.springBeans

# Logs e arquivos temporários
*.log
*.log.*
*.tmp

# Arquivos de compilação
*.class

# Arquivos de compilação do Maven
target/

# Arquivos gerados pelo IDE
/.metadata/
*.iml
/.classpath
/.project

# Diretórios de saída do Eclipse
/bin/
/bin-debug/
/classes/
/gen/
/out/
/out-timestamp/
/run/

# Arquivos gerados pelo Spring Boot DevTools
restart.txt

# Logs do Spring Boot
logs/
log/

# Arquivos de configuração do banco de dados
application.properties
application.yml

# Arquivos de configuração específicos do IDE (exemplo: IntelliJ IDEA)
.idea/

# Arquivos específicos do PostgreSQL
*.backup
*.dump

# Cache do Maven
/.m2/

# Dependências do Maven (você pode personalizar esta parte de acordo com sua estrutura de projeto)
# Deixe comentado por padrão, descomente conforme necessário
# /lib/
# /src/main/webapp/WEB-INF/lib/

# Dependências específicas de IDE (você pode personalizar esta parte de acordo com sua IDE)
# Deixe comentado por padrão, descomente conforme necessário
# /.classpath
# /.project

# Configurações do Eclipse
# Deixe comentado por padrão, descomente conforme necessário
# /.metadata/
# /.settings/

# Arquivos Sonarlint
.sonarlint/

# Ignorar o diretório META-INF
Controle-de-Estoque-API/src/main/java/META-INF/
